
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.fira-sans-normal {
  font-family: "fira Sans", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
.header{
    gap: 20px;
}
/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px 0 120px;
     padding: 20px auto ;
     
}
.nav-tittle {
    font-size: 32px;
    font-weight: bold;
    
}
 nav ul{
    align-items: center;
 }
nav ul li{
    display: flex;
    list-style: none;
    align-items: center;
}

.btn-primary-1 {
    font-size: 18px ;
    font-weight: bold ;
    color: #006A50;
    border-color: #006A50 ;
    background-color: white;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
       
}
.btn-primary{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 106, 80, 1);
    border: none;
    border-radius: 8px;
    padding:17px 34px ;
    font-size: 18px;
    font-weight: bold ;
    cursor: pointer;
    
}

.btn-primary:hover {
    color: black;
       background-color: #e6cf6d;
}
.btn-primary-1:hover{
    color: white;
    background-color: #006A50;
}
/* banner styles */
.banner{
    display: flex;
    margin: 0 100px 0 120px  ;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    padding: 83px 60px ;
    gap: 53px ;
    width: 1165px; 
    height:415px ;
    
}
.secondary-bg{
    background-color: #C6E4D6;
}
.banner-content{
    width: 550px;
    height:auto;
    
    margin:0 20px;
    
    
}
.banner-tittle{
    display: flex;
    font-size: 56px;
    font-weight: bold;
    color: #0e0e0e;
    margin: auto;
    margin-bottom: 24px;
    width: 550px;
    height: 205px;
    
}
.banner-subtittle{
    display: flex;
    font-size: 24px ;
    font-weight: medium;
    color:rgba(14, 14, 14, 0.5) ;
    margin: auto; 
    margin-bottom: 16px;
    width: 550px;
    height: 24px;
    

}