
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.fira-sans-normal {
  font-family: "fira Sans", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
.header{
    gap: 20px;
}
/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px 0 120px;
     padding: 20px auto ;
     
}
.nav-tittle {
    font-size: 32px;
    font-weight: bold;
    
}
 nav ul{
    align-items: center;
 }
nav ul li{
    display: flex;
    list-style: none;
    align-items: center;
}

.btn-primary-1 {
    font-size: 18px ;
    font-weight: bold ;
    color: #006A50;
    border-color: #006A50 ;
    background-color: white;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
       
}
.btn-primary{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 106, 80, 1);
    border: none;
    border-radius: 8px;
    padding:17px 34px ;
    font-size: 18px;
    font-weight: bold ;
    cursor: pointer;
    
}

.btn-primary:hover {
    color: black;
       background-color: #ffffff;
}
.btn-primary-1:hover{
    color: white;
    background-color: #006A50;
}
/* banner styles */
.banner{
    display: flex;
    margin: 0 100px 0 120px  ;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    padding: 83px 60px ;
    gap: 53px ;
    width: 1165px; 
    height:415px ;
    
}
.secondary-bg{
    background-color: #C6E4D6;
}
.banner-content{
    width: 550px;
    height:auto;
    
    margin:0 20px;
    
    
}
.banner-tittle{
    display: flex;
    font-size: 56px;
    font-weight: bold;
    color: #0e0e0e;
    margin: auto;
    margin-bottom: 24px;
    width: 550px;
    height: 205px;
    
}
.banner-subtittle{
    display: flex;
    font-size: 24px ;
    font-weight: medium;
    color:rgba(14, 14, 14, 0.5) ;
    margin: auto; 
    margin-bottom: 16px;
    width: 550px;
    height: 24px;

}
main{
 font-style: italic;
 margin: 0 100px 0 120px  ;
}
main section{
 margin-top: 80px;
 margin-bottom: 80px;
}
.section-tittle{
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 24px;
}
/* pillars styles */
.pillars{
    
    gap: 32px;
}
.pillars-container{
       display: flex;
       gap: 24px;justify-content:space-around;align-items: center;
}
.pillar{
    
  padding: 24px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 16px;
    gap: 24px;
}
.pillar-tittle{
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.pillar-description{
font-style: italic;
font-size: 16px;
color:rgba(14, 14, 14, 0.7) ;
}
/* future vision styles */
.future-vision{
 gap: 32px;
 margin-bottom: 32px;
}
.section-description{
    font-size: 16px;

 color: rgba(14, 14, 14, 0.7);
}
.vision-container{
    display: flex;
    gap: 24px;
    padding:32px 0 ;
    justify-content:space-around;align-items: center;
}
.vision{
   padding: 32px;
     border-radius: 16px ;
     box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
     width: 340px;
}
.vision-tittle{
    font-size: 20px;
    font-weight: bold;
 color: rgba(14, 14, 14, 0.8);
}
.vision-description{
    font-size: 16px;
 color: rgba(14, 14, 14, 0.7);
 width: 288px;
}
.btn{
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-weight: bold;
  padding: 11px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.bg-1{
 background-color: rgba(84, 144, 245, 0.2);
}

.btn-1{
 background-color: rgba(84, 144, 245, 1);
}
.btn-1:hover{
    color:rgba(84, 144, 245, 1) ;
    background-color: white;
}
.bg-2{
background-color: rgba(198, 228, 214, 1);
}
.btn-2{
background-color: rgba(9, 161, 92, 1);
}
.btn-2:hover{
    color:rgba(9, 161, 92, 1) ;
    background-color: white;
}
.bg-3{
background-color:rgba(247, 235, 207, 1) ;
}
.btn-3{
background-color: rgba(255, 194, 57, 1);
}
.btn-3:hover{
    color:rgba(255, 194, 57, 1) ;
    background-color: white;
}
.speech{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 24px  ;
    gap: 24px ;
    border-radius: 16px ;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 48px 24px;
}
.speech-description{
    font-size: 16px;
 color: rgba(14, 14, 14, 0.8);
 margin-bottom: 12px;
}
.speech-tittle{
    font-size: 20px;
    font-weight: bold;
 color: rgba(14, 14, 14, 0.8);
}
.speech-sub-tittle{
    font-size: 16px;
 color: rgba(14, 14, 14, 0.6);
}
/* opion matters style */
.opinion{
     margin-top: 66px;
     margin-bottom: 66px;
}
.table{
   
    padding:0 32px 32px 32px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius:16px ;
}
table{
 width: 100%;
 
 border-collapse: collapse;
}
.thead{
  
    justify-content: space-between;
    padding: 24px;
   
}
th {
     background-color:rgba(198, 228, 214, 1) ;
    font-size: 20px;
    font-weight: bold;
    
    border: 1px solid rgba(14, 14, 14, 0.15);
    
    
}
th ul li{
  
    list-style: none;
}
th ul{
    display: flex;
    
    gap: 900px;
    
}
.tbody{
  
}
.question{
    font-size: 16px;
    font-weight: bold;
    width: 800px;
   
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 36px 24px;
    }
.option{
    
    width: 126px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding:24px 0 24px 24px;
}
select{
    width: 126px;
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
    border:1px solid rgba(14, 14, 14, 1);
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 5px ;
   align-items: center;
    background-color: rgba(198, 228, 214, 1);
}
option{
     
}
/* recent news styles */
.recent-news{

}


.section-description-1{
   
 margin-bottom: 32px ;
}
.news-container{
    display: flex;
    flex-direction: column;
  gap: 24px;
}
.news{
    height: 315px;
 display: flex;
align-items: center;
 box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.08);
 gap: 32px;
 padding: 48px;
 border-radius: 24px;
}
.n-1{
    padding: 0 0 50px 0;
}
.img{
 border-radius: 24px;
 
}

.news-tittle{
  font-style: italic;
  font-weight: bold;
  font-size: 32px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 12px;
  
}
.icon{
    width: 111px;
    height: 33px;
    margin-bottom: 3px;
   
}
.date{

height:22px ;
margin-bottom: 12px;
 font-style: italic;
 font-size: 16px;
 color: rgba(14, 14, 14, 0.7);
}
.news-description{
    font-style: italic;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}
.button{
font-weight: bold;
font-size: 18px;
color: rgba(255, 255, 255, 1);
background-color: rgba(0, 106, 80, 1);
border-radius:8px ;
border: none;
padding:13px 26px ;
cursor: pointer;

}
.button:hover{
    color:rgb(0, 0, 0) ;
    background-color: rgb(154, 191, 240);
    
}
 /* donate style */
 .donate-today{
    margin-bottom: 80px;
    padding: 0 103px 0 103px;
 }

   

.sec-1{
    margin-bottom: 24px;
    text-align: center;
}
.sec-2{
   display: flex;
   /* justify-content: center; */
    text-align: center;
     font-size: 16px;
    margin-bottom:0px;
    color: rgba(14, 14, 14, 0.7);
}
.amounts{
 display: flex;
 justify-content: space-around;
 
}
.amount{
 font-style: italic;
 font-size: 40px;
 font-weight: bold;
 padding: 40px;
 box-shadow:0px 6px 50px 0px rgba(14, 14, 14, 0.15);
 color: rgba(14, 14, 14, 0.8);
 border-radius: 16px;
 margin-bottom: 32px;
}
.amount:hover{
    background-color: rgb(161, 228, 197);
}
.input{
 display: flex;
 align-items: center;
 justify-content: center;
 

 
}
input{
    width: 856px;
    color: rgba(14, 14, 14, 0.3);
    background-color: rgba(255, 255, 255, 1);
    box-shadow:0px 6px 50px 0px rgba(14, 14, 14, 0.15);
    border: none;
    font-size: 20px;
    text-align: center;
    padding: 20px 40px;
    display: flex;
   margin-bottom: 32px;
}
.buttn{
   
    border-radius: 8px;
    box-shadow:0px 6px 50px 0px rgba(14, 14, 14, 0.1);
    border: none;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 106, 80, 1);
    cursor: pointer;
}
.Done-Now{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.buttn:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(161, 228, 197);
}








